/* ELEMENTS */

body{
    margin:0;
    padding:0;
    font-family: Roboto;
}

h1 {
    font-family: Roboto;
    color: white;
    margin-right: 15px;
}
nav {
    height: 50px;
    background: rgb(13,110,253);
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(39,99,191,1) 100%);
    display: flex;
    justify-content: space-between;
}

nav .btn {
    height: 50px;
}
/* FACTORIES */
#factories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}

.factory{
    width:400px;
    height:500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:10px;
}



.factory ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    flex-wrap: wrap;
    padding-left:5px;
    height: 280px;
    
}

.factory li {
    padding:10px 2px;
    font-size: 24px;
}

/* MISC */
.btn-top{
    width: 200px;
}

.edit-factory{
    background: rgb(108,117,125);
    background: linear-gradient(90deg, rgba(108,117,125,1) 0%, rgba(69,74,79,1) 100%);
}
.create-children {
    background: rgb(13,110,253);
    background: linear-gradient(90deg, rgba(13,110,253,1) 0%, rgba(39,99,191,1) 100%);
}
.form-label {
    font-size:30px;
}
.form-control{
    font-size: 1.5rem;
}

.invalid-msg {
    font-size: 12px;
    color: red;
    display: none;
}

